/*****************/
/* LAYOUT STYLES */
/*****************/
.project {
  display: flex;
  gap: 8rem;
}

/*********/
/* IMAGE */
/*********/
.project-img {
  width: 30%;
}

/***********/
/* CONTENT */
/***********/
.project-title {
  font-size: 3.6rem;
}

.project-subtitle {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.project-desc {
  font-size: 2rem;
}
