/*****************/
/* NAVBAR STYLES */
/*****************/
.navbar {
  display: flex;
  justify-content: space-between;
}

/****************/
/* LINKS STYLES */
/****************/
.links {
  display: flex;
  gap: 3.2rem;

  font-size: 3.2rem;
  list-style: none;
}
