/*****************/
/* NAVBAR STYLES */
/*****************/
.navbar {
  display: flex;
  justify-content: space-between;
}

/***************/
/* LOGO STYLES */
/***************/
.logo {
  font-size: 3.2rem;
  font-weight: 600;
}

/****************/
/* LINKS STYLES */
/****************/
.links {
  display: flex;
  gap: 3.2rem;

  font-size: 3.2rem;
  list-style: none;
}

.link:any-link {
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

.link:hover,
.link:active {
  color: #40C057;
}
