@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/*****************/
/* GLOBAL STYLES */
/*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/**************************/
/* REUSABLE LAYOUT STYLES */
/**************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/************************/
/* RESUABLE TEXT STYLES */
/************************/
.heading-primary {
  font-size: 9.6rem;
  line-height: 1.1;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 700;
  color: #212529;
}

.link:any-link {
  color: #f1f3f5;
  text-decoration: none;
  transition: 0.3s all;
}

.link:hover,
.link:active {
  color: #40c057;
}

.tooltip {
  position: relative;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 120%;

  opacity: 0;
  transition: 0.3s opacity;
}

.tooltip:before {
  content: attr(dataText);

  margin-right: 10px;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;

  font-size: 1.6rem;
  background-color: #40c057;
  color: #f1f3f5;
  text-align: center;
}

.tooltip:after {
  content: "";

  margin-right: -5px;
  border: 8px solid #40c057;
  border-color: transparent transparent transparent #40c057;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
}

/*************************/
/* RESUABLE COLOR STYLES */
/*************************/
.primary-green {
  color: #40c057;
}

.primary-green-hover {
  transition: 0.3s all;
}

.primary-green-hover:hover,
.primary-green-hover:active {
  fill: #40c057;
}

.light-white {
  color: #f1f3f5;
}

.dark-white {
  color: #dee2e6;
}

.dark-gray {
  color: #212529;
}

.light-gray {
  color: #495057;
}

.light-background {
  background-color: #dee2e6;
}

.dark-background {
  background-color: #212529;
}
