/*****************/
/* GLOBAL STYLES */
/*****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  display: none;
}

/*******************/
/* REUSABLE STYLES */
/*******************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.row-reverse {
  flex-direction: row-reverse;
}

.heading-primary {
  font-size: 9.6rem;
  line-height: 1.1;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 700;
  color: #212529;
}

.link:any-link {
  color: #f1f3f5;
  text-decoration: none;
  transition: 0.3s all;
}

.link:hover,
.link:active {
  color: #40c057;
}

.primary-green {
  color: #40c057;
}

.primary-green-hover {
  transition: 0.3s all;
}

.primary-green-hover:hover,
.primary-green-hover:active {
  fill: #40c057;
}

.light-white {
  color: #f1f3f5;
}

.dark-white {
  color: #dee2e6;
}

.dark-gray {
  color: #212529;
}

.light-gray {
  color: #495057;
}

.light-background {
  background-color: #dee2e6;
}

.dark-background {
  background-color: #212529;
}
